 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("/images/photo-1516541196182-6bdb0516ed27.jpeg");
  background-size: cover;
  min-height: 1571px;
}

.u-section-1 .u-group-1 {
  width: 1140px;
  min-height: 1489px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto -74px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 31px;
}

.u-section-1 .u-text-1 {
  font-family: Alatsi;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 20px 4px 0;
}

.u-section-1 .u-line-1 {
  transform-origin: left center;
  margin: 0 50px;
}

.u-section-1 .u-text-3 {
  font-family: Alatsi;
  font-size: 1.25rem;
  width: 376px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-family: Alatsi;
  font-weight: 400;
  margin: 0 4px;
}

.u-section-1 .u-text-5 {
  font-family: Alatsi;
  margin: 0 4px;
}

.u-section-1 .u-text-6 {
  font-family: Alatsi;
  font-weight: 400;
  margin: 0 4px;
}

.u-section-1 .u-text-7 {
  font-family: Alatsi;
  text-transform: uppercase;
  margin: 0 6px 0 3px;
}

.u-section-1 .u-text-8 {
  font-family: Alatsi;
  margin: -5px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-9 {
  margin: 13px 20px 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  width: 245px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1546px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    --radius: 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    min-height: 1733px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    border-style: solid;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1644px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 1926px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2126px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 0;
    margin-bottom: -1297px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 0;
  }

  .u-section-1 .u-group-1 {
    width: 418px;
    min-height: 2364px;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 25px 0 17px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 5px;
  }

  .u-section-1 .u-text-2 {
    font-family: Alatsi;
    margin-right: 5px;
  }

  .u-section-1 .u-text-3 {
    width: 335px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 5px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 5px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 5px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 25px;
  }
}