 .u-section-1 {
  background-image: none;
  min-height: 3049px;
}

.u-section-1 .u-image-1 {
  min-height: 447px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(66, 84, 101, 0.5), rgba(66, 84, 101, 0.5)), url('/images/photo-1510511459019-5dda7724fd87.jpeg');
  background-size: cover, cover;
  margin-top: 0;
  margin-bottom: 0;
  --bottom-right-radius: 30px;
  --bottom-left-radius: 30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 120px 30px 80px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 584px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 19px auto 0;
}

.u-section-1 .u-group-2 {
  width: 1140px;
  min-height: 2622px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 30px;
  margin: -94px auto 60px;
}

.u-section-1 .u-container-layout-2 {
  padding: 50px;
}

.u-section-1 .u-text-3 {
  font-size: 4.5rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 30px auto 0 0;
}

.u-section-1 .u-line-1 {
  transform-origin: left center;
  border-style: dotted;
  margin: 25px 1px 0;
}

.u-section-1 .u-text-5 {
  margin: 50px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  line-height: 2;
  margin: 19px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-9 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  margin: 50px auto 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-12 {
  line-height: 2;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-13 {
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-14 {
  text-transform: uppercase;
  margin: 58px auto 0 0;
}

.u-section-1 .u-text-15 {
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-16 {
  text-transform: uppercase;
  margin: 60px auto 0 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-18 {
  line-height: 2;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-1 .u-text-19 {
  text-transform: uppercase;
  margin: 60px auto 0 0;
}

.u-section-1 .u-text-20 {
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-21 {
  text-transform: uppercase;
  margin: 60px auto 0 0;
}

.u-section-1 .u-text-22 {
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-23 {
  text-transform: uppercase;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-24 {
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-25 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-26 {
  text-transform: uppercase;
  margin: 60px auto 0 0;
}

.u-section-1 .u-text-27 {
  margin: 20px 2px 0 0;
}

.u-section-1 .u-text-28 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 3359px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 105px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: 520px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 4510px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 95px;
  }

  .u-section-1 .u-text-1 {
    width: 320px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 25px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  min-height: 97px;
}

.u-section-2 .u-group-1 {
  min-height: 71px;
  height: auto;
  margin-top: 25px;
  margin-bottom: 0;
  --top-left-radius: 30px;
  --top-right-radius: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 536px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-3 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  border-style: solid;
  --radius: 30px;
  padding: 25px 30px;
}

.u-section-3 .u-icon-1 {
  height: 30px;
  width: 30px;
  background-image: none;
  padding: 6px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  border-style: solid;
  --radius: 30px;
  padding: 25px 30px;
}

.u-section-3 .u-icon-2 {
  height: 30px;
  width: 30px;
  background-image: none;
  padding: 6px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-accordion-item-3 {
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  border-style: solid;
  --radius: 30px;
  padding: 25px 30px;
}

.u-section-3 .u-icon-3 {
  height: 30px;
  width: 30px;
  background-image: none;
  padding: 6px;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-accordion-item-4 {
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  border-style: solid;
  --radius: 30px;
  padding: 25px 30px;
}

.u-section-3 .u-icon-4 {
  height: 30px;
  width: 30px;
  background-image: none;
  padding: 6px;
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-3 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  border-style: solid;
  --radius: 30px;
  padding: 25px 30px;
}

.u-section-3 .u-icon-5 {
  height: 30px;
  width: 30px;
  background-image: none;
  padding: 6px;
}

.u-section-3 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-3 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  border-style: solid;
  --radius: 30px;
  padding: 25px 30px;
}

.u-section-3 .u-icon-6 {
  width: 30px;
  height: 30px;
  background-image: none;
  padding: 6px;
}

.u-section-3 .u-accordion-pane-6 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  min-height: 789px;
}

.u-section-4 .u-shape-1 {
  height: 342px;
  margin-top: 0;
  margin-bottom: 0;
  --bottom-left-radius: 30px;
  --bottom-right-radius: 30px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -252px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 639px;
  --radius: 50px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-list-1 {
  width: 492px;
  margin: 53px auto 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 345px;
  grid-auto-columns: 100%;
  --gap: 0px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 10px 10px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 10px 10px 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px 10px 10px 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 136px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 646px;
  --radius: 50px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-form-1 {
  height: 556px;
  margin: 0 36px 0 0;
}

.u-section-4 .u-text-8 {
  margin-left: 0;
}

.u-section-4 .u-form-group-4 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 16px 0 17px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 677px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-4 .u-list-1 {
    width: 395px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 0px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 533px;
  }

  .u-section-4 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 250px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 641px;
  }

  .u-section-4 .u-list-1 {
    width: 285px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 350px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 25px;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 25px;
  }
}