 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/ee51580dd825e02990e9350f9a2b427dd73c29c85b3c4549b08444342c4d3c83c402734bf28e2f717f1b8947208578bb2509f37b0a9857d33c5262_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1202px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 106px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 0 83px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 36px 480px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 131px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-family: Montserrat, sans-serif;
  margin: 2px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-family: Montserrat, sans-serif;
  margin: 27px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 60px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 280px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 232px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 136px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1294px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 722px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 146px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 722px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -134px;
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
    margin-top: 208px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 98px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 26px;
    margin-bottom: -25px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 371px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 96px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 254px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 30px;
    margin-right: auto;
  }
}